table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
  }
  
table {
border-collapse: collapse;
width: 70%;
max-width: 100%;
}

th, td {
padding: 15px;
}   
.product-image{
    width: 40px;
    height: 80px;
}
td{
    font-size: 15px;
}

main button{
    margin-top: 50px;
    margin-left: 32%;
    border-radius: 25px;
}
footer{
    position: relative;
    margin-left: 90px;
}
.table-container{
    overflow: auto;
}